:global * {
  margin: 0;
  padding: 0;
}
:global table {
  margin-top: 25px;
  border-spacing: 0;
}
:global table tr {
  text-align: center;
}
:global table tr:last-child td {
  border-bottom: 1px solid #000;
}
:global table tr td {
  padding: 10px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
:global table tr td:last-child {
  border-right: 1px solid #000;
}
:global fieldset {
  margin: 25px;
  padding: 25px;
}
:global #file {
  display: flex;
}
:global #file input {
  margin-right: 5px;
}
:global #file button {
  padding: 0 5px;
}
@media (min-width: 658px) {
  :global #file {
    flex-direction: row;
    align-items: center;
  }
  :global #file button {
    margin-left: 25px;
  }
  :global #file a {
    margin-left: 10px;
  }
}
@media (max-width: 657px) and (min-width: 425px) {
  :global #file {
    flex-direction: column;
    align-items: flex-start;
  }
  :global #file button {
    margin: 25px;
  }
  :global #file a {
    margin: 0;
  }
}
@media (max-width: 424px) {
  :global #file {
    flex-direction: column;
    align-items: flex-start;
  }
  :global #file #addSheet {
    margin: 25px 5px 25px 0;
  }
  :global #file button {
    display: block;
  }
  :global #file a {
    margin-top: 10px;
  }
}
